:root {
    --terminal-color: #33ff00;
}

body {
    margin: 1em;
    margin-left: 3em;
    width: 21cm;
    height: 29.7cm;
}

h1 {
    padding-top: 1em;
    margin: 0;
}

.headline {
    font-size: large;
    margin-top: 3em;
    margin-bottom: 1em;
    font-style: italic;
}

.about {
    padding-left: 1em;
}

h2 {
    margin: 0;
    padding-top: 1em;
}

.projects article {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-column-gap: 0.5em;
    column-rule: solid 2px;
    align-items: baseline;
    padding: 1em;
}


.projects article>.company {
    grid-row: 2;
    grid-column: 1;
    width: fit-content;   
}

.projects .company::after, 
.projects .location::after {
    content: "\00a0\00a0|";
}


.projects article>.title {
    grid-row: 1;
    grid-column: 1 / -1;
    font-weight: bold;
}
    
.projects article>.date {
    grid-row: 2;
    grid-column: 3 / -1;
    /* font-size: small; */
    width: 100%;
}

.projects article>.location {
    grid-row: 2;
    grid-column: 2;
    width: fit-content;
    /* font-size: small; */
}

.projects article>ul {
    grid-row: 3;
    grid-column: 1 / -1;
    margin: 0;
    padding-top: 0.5em;
}

header ul {
    padding-inline-start: 0em;
}

ul {
    padding-inline-start: 1em;
    margin: 0.5em;
}

header li {
    display: inline-block;
    padding-right: 1em;
}
header li img, header li .contacttext {
    vertical-align: middle;
}

.education article {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-auto-flow: dense;
    padding-bottom: 1em;
    column-gap: 1em;
}

.education article .date {
    grid-row: 4;
    grid-column: 1;
}

.education article .location {
    grid-row: 5;
    grid-column: 1;
}

.education article .school {
    grid-row: 1;
    grid-column: 1;
}

.education article .degree {
    grid-row: 2;
    grid-column: 1;
}

.education article .major {
    grid-row: 3;
    grid-column: 1;
    
}


.svgIcon {
    filter: grayscale(100%) brightness(0%);
    height: 1em;
    width: 1em;
    padding-right: 0.5em;
}

footer {
    padding-top: 3em;
    font-size: small;
    font-style: italic;
    color: gray;
}

@media print {
    a {
        text-decoration: none;
        color: black;
    }
    body {

        margin: 3em;
    }
}

@media (prefers-color-scheme: dark) {
    html,
    html * {
        color: var(--terminal-color) !important;
        font-family: monospace;
        /* font-size: large; */
        background-color: #292929 !important;
    }
    * {
        border-color: #555555
    }
     :link,
     :link * {
        color: #8db2e5 !important
    }
    input,
    textarea {
        background-color: #333333 !important
    }
    a {
        background-color: rgba(255, 255, 255, 0.01) !important
    }
    html,
    html::before,
    body,
    body::before,
    input,
    select,
    button {
        background-image: none !important
    }
    .projects article,
    header {
        padding: 1em;
        border-bottom: var(--terminal-color) 1px dashed;
    }
    h1 {
        font-size: xx-large;
    }
    h2 {
        font-size: x-large;
    }

    .svgIcon {
        filter: none;
    }
}